.navbar {

}

.navbar-nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
li {
    text-decoration: none;
    list-style: none;
}

.item{
    max-width: 50px;
    max-height: 50px;
}

.link{
    background-color: black;
}

#outer{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    
}

#inner {
    display: flex;
    align-items: center;
    gap: 10px;
}

.box{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: aliceblue;
    border-radius: 10px;
}

/* Main top and bottom top are suppose to be skinny banner like box top and bottom of the main.
This may need to be in a container itself as well as a column like the sideboxes will be */

.main-container{
    display: flex;
    flex-direction: column;
}

.main-top{
    height: 50px;
    width: 800px;
}

.main {
    height: 400px;
    width: 800px;
}

.content-container {
    width: 800px;
}

.profile-container{
    width: 400px;
    height: 600px;

}

.profile-img {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    padding: 5px;
}

.main-bottom{
    height: 100px;
    width: 800px;
}

/* The sidebox container will encompas multiple boxes that are on eitehr side of the main box, sidebox-container may 
be a flex container to make them into columns */

.sidebox-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sidebox {
    height: 200px;
    width: 200px;
}